.container {
    display: flex;
  }
  
  .list {
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    margin-right: 20px;
  }
  
  .item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .dropzone {
    width: 200px;
    height: 300px;
    border: 2px dashed black;
  }